# Maven

# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: ArtifactoryDocker@1
  inputs:
    command: 'push'
    artifactoryService: 'Artifactoryamith'
    targetRepo: 'docker'
    imageName: 'centos'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
- task: ArtifactoryPublishBuildInfo@1
  inputs:
    artifactoryService: 'Artifactoryamith'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'